<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1 class="main-header">Spellchecker</h1>
    <form action="/signup" method="POST">
      <div>
        <label for="text">Sign Up: </label>
        <input type="hidden" name="_csrf" value="{{token}}">
        <input type="text" name="username" placeholder="username" required>
        <input type="password" name="password" placeholder="password" required>
        <button type="submit" name="submit"> Sign up</button> {{#if test}}<span>Sign up successful! Please login.</span>{{/if}}
      </div>
    </form><br>


    <form action="/login" method="POST">
      <div>
        <label for="text">Log in: </label>
        <input type="hidden" name="_csrf" value="{{token}}">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button type="submit" name="submit"> Log in</button>
      </div>
      <p class="remember">
        <input type="checkbox" id="remember" name="remember" value="1" />
        <label for="remember">Remember me</label>
      </p>
    </form>
  </body>

</html>
