<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <header>
      <div class="sign-out">
        {{#if user}}
        <form action="/signout?_method=DELETE" method="POST">
          <input type="hidden" name="_csrf" value="{{token}}">
          <button type="submit" name="submit" class="signout">Log Out</button>
        </form>
        {{else}}
        {{/if}}
      </div>
      <h1 class="main-header">Spellchecker</h1>
    </header>
    <form ref='uploadForm'
      id='uploadForm'
      action='/upload?_csrf={{token}}'
      method='post'
      encType="multipart/form-data">
        <input type="file" name="newFile" />
        <input type='submit' value='Download spellchecked file!' />
    </form> {{#if size}}<span>File too large. Please upload again.</span>{{/if}}
  </body>
</html>
